redis
redisvl

accelerate
transformers
chromadb
faiss-cpu
bitsandbytes
semantic-router 
sentence-transformers

rapidfuzz
rank_bm25
langgraph
langchain
langchain-core
langchain-chroma
langchain-classic
langchain-community
langchain-huggingface
langchain-text-splitters

gdown
tqdm
PyYAML
huggingface_hub

fastapi
uvicorn
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
python-multipart
jwt

pydantic
pydantic-settings
python-multipart
python-dotenv
pytest 

pandas
numpy