redis
redisvl

accelerate
transformers
chromadb
faiss-cpu
bitsandbytes
semantic-router 
sentence-transformers

rapidfuzz
rank_bm25
langgraph
langchain
langchain-core
langchain-chroma
langchain-classic
langchain-community
langchain-huggingface
langchain-text-splitters